@{
    ViewData["Title"] = "About";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Used sources</h4>
                        <p class="category">DapperORM</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="https://metanit.com/sharp/articles/mvc/dapper.php">Metanit manual</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Used sources</h4>
                        <p class="category">SSDT</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="https://metanit.com/sharp/articles/mvc/dapper.php">Metanit manual</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Used sources</h4>
                        <p class="category">Automapper</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li><a href="https://metanit.com/sharp/articles/mvc/dapper.php">Metanit manual</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
