@model AuthorVM

@{
    ViewBag.Title = "Edit author";
}

<script src="~/js/view-model/author-vm.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="~/images/author-bg.jpg" alt="...">
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="~/images/author-default.jpg" alt="...">
                        <h4 class="title">
                            <span data-bind="text:FullName">Jack London</span><i class="fa fa-star" style="color:red"></i><br>
                            <!--Example of attribute binding-->
                            <a href="https://en.wikipedia.org/wiki/Jack_London" data-bind="attr: {href: Wiki}" target="_blank"><small>Wikipedia</small></a>
                        </h4>

                    </div>
                    <p class="description text-center" data-bind="text:Quote">Famous authors quote value</p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5><span data-bind="text:BooksCount">28</span><br><small>Books</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5><span data-bind="text:Born">1865</span><br><small>Born</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span data-bind="text:Died">1930</span><br><small>Died</small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Top books</h4>
                </div>
                <div class="content">
                    <!--Example of array binding. Declare foreach-->
                    <ul class="list-unstyled team-members" data-bind="foreach: TopBooks">
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <i class="nc-icon nc-album"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <!--Example of array binding. Using-->
                                    <span data-bind="text: $data">Book name 1</span>
                                    <br>
                                    <span class="text-muted"><small>About something</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-book"></i></btn>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Info</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" placeholder="First Name" data-bind="value:FirstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name" data-bind="value:LastName">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input class="form-control border-input" placeholder="Country born" data-bind="value:Country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date of birth</label>
                                    <input class="form-control border-input" placeholder="Date of birth" data-bind="value:Born">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date of death</label>
                                    <input class="form-control border-input" placeholder="Date of death" data-bind="value:Died">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Wikipedia link</label>
                                    <input class="form-control border-input" placeholder="Url" data-bind="value:Wiki">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Famous quote</label>
                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" data-bind="value:Quote"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" id="btnApply" class="btn btn-info btn-fill btn-wd">Apply changes (AJAX)</button>
                            <button type="submit" id="btnSave" class="btn btn-info btn-fill btn-wd">Save changes (Submit)</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<script>

    $(document).ready(function () {
        ko.applyBindings(AuthorVM);
        //Subscribe example: check changed value
        AuthorVM.Born.subscribe(function (newValue) { if (newValue > 2000) alert("Age seems like invalid! Check is It true?"); });

        AuthorVM.UrlSave='@Url.Action("Update","Authors")'

        $('#btnApply').click(function () { AuthorVM.Save()});

    });
</script>