@model IEnumerable<BC.Data.Entity.Authors.AuthorEM>
@{
    ViewData["Title"] = "Authors list";
}

<ul>
    @foreach (var item in Model)
    {
    <li>@($"{item.FirstName} {item.LastName}")</li>
    }
</ul>