@model IEnumerable<AuthorVM>
@{
    ViewData["Title"] = "Authors list";
}

<ul>
    @foreach (var item in Model)
    {
    <li><a asp-area="" asp-controller="Author" asp-action="Details">@item.FullName</a></li>
    }
</ul>