@model IEnumerable<AuthorVM>

@{
    ViewBag.Title = "Authors";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Authors</h4>
                    <p class="category">Available authors</p>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table id="tableAuthors" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>FullName</th>
                                    <th>Born</th>
                                    <th>Died</th>
                                    <th>Rating</th>
                                    <th>Country</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>555</td>
                                    <td>Full name</td>
                                    <td>1900</td>
                                    <td>1970</td>
                                    <td>
                                        <i class="fa fa-star" style="color:gray"></i>
                                        <i class="fa fa-star" style="color:gray"></i>
                                        <i class="fa fa-star" style="color:gray"></i>
                                        <i class="fa fa-star-o" style="color:gray"></i>
                                        <i class="fa fa-star-o" style="color:gray"></i>
                                    </td>
                                    <td>
                                        USA
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Authors" asp-route-id="5"><i class="fa fa-edit" style="color:gray"></i></a>
                                        <a asp-action="Delete" asp-controller="Authors" asp-route-id="5"><i class="fa fa-remove" style="color:gray"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tableAuthors').DataTable({
    proccessing: true,
    serverSide: true,
    ajax: {
        url: "@Url.Action("GetAll", "Authors")",
        type: 'POST'
    },
    language: {
        "search": "",
        "searchPlaceholder": "Search..."
    },
            columns: [
                { data: "id", visible: false },
       { data: "fullName" },
       { data: "born" },
       { data: "died" },
       { data: "rating" },
                { data: "country" },
                { data: null, orderable: false }
            ],
            columnDefs: [
                {
                    "render": function (data, type, row) {
                        return '<a href="Authors/Edit/'+ data.authorId +'"><i class="fa fa-edit" style="color:gray"></i></a>' +
                            '<a href="Authors/Delete/' + data.authorId +'"><i class="fa fa-remove" style="color:gray"></i></a>';
                    },
                    "targets": 6
                },
                {
                    "render": function (data, type, row) {
                        var maxRating = 5;
                        var html = '';
                        for (var i = 0; i < row.rating; i++) {
                            html += '<i class="fa fa-star" style="color:gray"></i>';
                        }
                        for (var i = 0; i < maxRating - row.rating; i++) {
                            html += '<i class="fa fa-star-o" style="color:gray"></i>';
                        }
                        return html;
                    },
                    "targets": 4
                },
                {
                    "render": function (data, type, row) {
                        return row.died == 0 ? "-" : row.died;
                    },
                    "targets": 3
                }
            ]
});
    });
</script>
@section Scripts {

}